h1, .text-center{
    color: rgb(221, 126, 126);
} 

#header-title{
    color: white;
}

.jumbotron{
    background-image: url(../../assets/images/cardsblur.png)
    /* background-color: blue; */   
}

body {
    background: black;
}

#panel-color{
    background: rgba(128, 0, 128, 0.438);
    color: white;
}